$primary-color: #82bd69;
$secondary-color: #3d692c;
$tertiary-color: #d3eac8;

.formWrap{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 68px);
  place-content: center;
  place-items: center;
  margin-inline: auto;

  .logo{
    color: $primary-color;
    transition: all 500ms ease-in-out;
    font-style: italic;

    &:hover{
      font-size: 22px;
      color: $secondary-color;
    }
  }

.form{
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;


  label{
    position: absolute;
    left: 16px;
    top: 16px;
    transition: all .3s ease;
    font-size: 16px;
    color: #909090;
  }

  input[type=email],
  input[type=password]{
    border: none;
    width: 100%;
    font-size: 18px;
  }
  
  input[type=email]:focus-visible,
  input[type=password]:focus-visible{
    outline: none
  }

  
  .emailWrap,
  .passwordWrap{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.8rem 1rem 6px;
    position: relative;
    transition: border-color .6s;
    background: #fff;
  }

  .emailWrap:focus-within,
  .passwordWrap:focus-within{
    font-size: 12px;
    border: 2px solid $primary-color;
  
  }

  .emailWrap:focus-within input:focus + label,
  .passwordWrap:focus-within input:focus + label{
    top:4px;
    left : 2px;
    font-size: 14px;
    color: #ccc;
  }

  button[type=submit]{
    all: unset;
    width: 100%;
    height: 40px;
    background: $secondary-color;
    border-radius: 6px;
    text-align: center;
    color:#fff
  }
}

}

.policies{
  font-size: 14px;
  color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}