$mobile-breakpoint: 768px; 

.header{
  height: 68px;
  width: 100%;
  box-shadow: 0 0 8px rgba(0,0, 0, .2);
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;


  .nav{
    display: none;
  }

  .mobileMenu{
    display: block;

  }

    // 검색 영역
    .searchFormWrap{
      height: 68px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 10px;
      padding : 0 1rem;
      transition : all 500ms ease-in-out;

      
      form{
        max-width: 400px;
        min-width : 260px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 16px rgba(0,0, 0, .05);
        place-self: center;
        border-radius: 50px;
        background-color: #fff;
      }
  
      .inputBtn{
        display: flex;
        gap: 10px;
      
        input{
          border: none;
          font-size: 16px;
          width: 200px;
        }
      
  
        button{
          all: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #82bd69;
          border-radius: 50%;
          width: 34px;
          height: 34px;
          transition : all 500ms ease-in-out;

    
          svg{
            width: 28px;
            height: 28px;
          }
        }
      }

      .mobileMenu{
        display: block;
        height: 40px;
        width: 40px;
        place-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition : all 500ms ease-in-out;
        
        svg{
          width : 18px;
          height: 18px;
        }

        &:focus-visible{
          background-color: #82bd69;
        }
      }
  
    }



    .NotSearchFormWrap{
      display: block;
      border: 1px solid #eee;
      height: 68px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 10px;
      padding : 0 1rem;
      transition : all 500ms ease-in-out;

      .NotMobileMenu{
        display: block;
        height: 40px;
        width: 40px;
        place-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition : all 500ms ease-in-out;
        position: relative;
        
        svg{
          width : 18px;
          height: 18px;
        }

        .notMobilePop{
          background-color: #fff;
          box-shadow: 0 4px 10px rgba(0,0, 0, .2);
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(-10%, 30%);
          border-radius: 1rem;
          overflow: hidden;

          ul{
            min-width: 80px;
            width: 100%;

            li{
              width: 150px;
              padding:1.3rem 0;
              border-bottom: 1px solid #cecece;
            }
          }

        }
      }
    }
}

@media screen and (min-width:$mobile-breakpoint) {
.header{
  .nav{
    display: block;
    ul{
      height: 68px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-inline: auto;
      padding: 0 2rem;
      box-sizing: border-box;
      max-width: 1000px;

      li{
        position: relative;
      }

      .active::after{ 
        content: " ";
        position: absolute;
        background-color: #82bd69;
        width: 34px;
        height: 2px;
        margin-top: 2px;

        
      }
    }

    .main,
    .profile
    {
      display: block;
    }
  }

  .mobileMenu{
    display: none;
  }

  svg{
    width:34px;
    height: 34px;
    color: #000;

    &:hover{
      color: #fff;
    }
  }
  

  // 검색 영역
  .searchFormWrap{
    justify-content: center;

    form{
      width: 400px;
    }

    .inputBtn{

      input{
        width:300px;
      }
    }

    .mobileMenu{
      display: none;
    }
  }

  // 검색 영역 외
  .NotSearchFormWrap{
    display: none;
  }
}



}

