$primary-color : #82bd69;
$secondary-color : #3d692c;;
$tertiary-color : #d3eac8;


.mypageMain{
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 68px;;
  display: grid;
  gap: 2rem;
  padding: 0 1rem;



  //common : section common
  section{
    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
    padding: .8rem 1.2rem;

  }

  //common :  head area
  .head {
    display: flex;
    gap: 1.2rem;
    place-items: center;
    margin-top: 1rem;
  }


  //coupons list
  //area
  .couponsListWrap{


    ul{
      display: grid;
      gap: 2.8rem;

      li{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
        gap: 1rem;
      }

      .couponsImg{
        background: linear-gradient(40deg, rgb(130, 189, 105) 0%, rgb(0, 212, 255) 100%);
        height: 150px;
        max-width: 240px;
        min-width: 100px;
        width: 100%;
        border-radius: 0.6rem;
        position: relative;
        
        padding: .8rem 1rem;
        box-shadow: 0 4px 16px rgba(0, 0, 0, .1);


        p{
          color: #fff;
          text-align: left;
          &:nth-of-type(1){
            letter-spacing: -1px;
            font-weight: 600;

          }

          &:nth-of-type(2){
            font-size: 12px;
            margin-top: 4px;
            color: #d3eac8;
          }

          &:nth-of-type(3){
            font-size: 60px;
            font-weight: bold;
            text-align: right;
            margin-top: 10px;
            
          }
        }
      }

      //coupons inoformation
      .couponsInfo{
        place-self: center;
      }

    }
  }




  // faq
  // area
  .faqWrap{
    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
    padding: .8rem 1.2rem;

    h4{
      margin-bottom: 10px;
    }


    .categoryWrap{
      
      ul {
        display: flex;
        gap: .6rem;
        
      }
      
      .category{
        padding: .3rem 1rem;
        border: 1px solid #cecece;
        border-radius: 20px;

        &.categoryAll{
          background-color: #ccc;
        }

        &:hover,
        &:focus-visible
        {
          background-color: $primary-color;
        }
      }

    }



    // faq body 
    .faqBodyWrap{
      margin-top: 30px;

      details {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        margin: 10px 0;
        transition: all 0.3s ease;
      
        summary {
          cursor: pointer;
          font-weight: bold;
          padding: 5px;
          outline: none;
          transition: all 0.3s ease;
      
          &:hover {
            background-color: #f0f0f0;
          }
        }
      
        &[open] {
          summary {
            background-color: #e0e0e0;
            border-bottom: 1px solid #ccc;
          }
      
        }

        .contents{
          padding: 1rem 0.5rem;
        }

      }
      



      summary{
        
      }
    }
  }



  // Event notice
  // Area

  .eventNoticeWrap{

    .eventHead{
      display: grid;
      grid-template-columns: 1fr 6fr;
      place-items: center;
      padding: 1.2rem 0;
      font-size: 16px;
      font-weight: 600;
      border-bottom:2px solid #ccc;
    }

    ul{

      li{  
        display: grid;
        grid-template-columns: 1fr 6fr;
        place-content: center;
        padding: 1rem 0;
        cursor: pointer;

        &:not(:last-child){
        border-bottom: 1px solid #ccc;
        
      }
      div:nth-of-type(1){
        place-self: center;
      }
      }
    }
  }





  // notification
  // Area

  .restOfNotification{
    display: grid;
    gap: 1.8rem;
    margin-top: 40px;
    padding-left: 1.5rem;
  }

  .allNotification,
  .banner,
  .notificationEmail,
  .SMS
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;

    svg{
      position: absolute;
      top:6px;
      left: -12px;
      transform: translate(-50%, -50%);
    }
  }

    dl{

      dd{
        color: rgb(170, 170, 170);
        font-size: 14px;
        margin-top: 10px;
      }
    }


  .notificationLabel,
  .bannerLabel,
  .notificationEmailLabel,
  .SMSLabel
  {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; 
    flex-shrink: 0;

    input{
      opacity: 0;
      width: 0;
      height: 0; 

      &:checked + .sider{
        background-color: $primary-color;
      }
      &:checked + .sider::before{
        transform: translateX(26px);
      }
    }

    .sider{
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ccc;
      transition: 400ms;
      border-radius: 34px;

      &::before{
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        transition: 400ms;
        border-radius: 50%;
      }

      
    }
  }




  // Notice 
  // area
.mypageNotice{
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
  padding: .8rem 1.2rem;

  .noticeHeader{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid #ccc;
    p{
      &:nth-of-type(1){
        width: 60px;
        text-align: center;
      }

      &:nth-of-type(2){
        flex:4;
        text-align: center;
      }
    }
  }


  .noticeListWrap{
    
    li{
      display: flex;
      gap: 1rem;
      align-items: center;
      &:not(:nth-last-of-type(1)){
        border-bottom: 1px solid #ccc;
      }
      &:hover{
        background-color: $tertiary-color;
      }
    }

    .noticeEachId{
      max-width: 60px;
      width: 100%;
      text-align: center;
    }
    .noticeEachTitle{
      font-size: 18px;
      padding: 1rem 0;
      letter-spacing: -.5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    
  }
}


}